*{
    padding: 0;
    margin: 0;
    font-family: cursive;

}
body{
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 241, 241));
}

#Div1{
    height: 490px;
    width: 600px;
    background: linear-gradient(cyan, rgb(148, 135, 196) ,   #ff7ba3);
    border-radius: 20px;
    box-shadow: 0px 10px 20px 10px rgb(185, 185, 185);
}

.inp{
    border-radius: 10px;
    height: 30px;
    width: 350px;
    margin-left: 120px;
    margin-top: 20px;
    border: none;
}

label{
    font-size: 20px;
    color: white;
}

p{
    display: inline;
    color: white;
}

#checkbox{
    display: inline;
}

button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color:   cyan;
    color: rgb(0, 0, 0);
    margin-left: 250px;
    border: 2px solid white;
    box-shadow: 0 0 5px  cyan,
    0 0 25px cyan;
}
button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

#second{
    margin-left: 140px;
}

.para{
    margin-left: 220px;    
}

.lab{
    color:  rgb(255, 255, 255);
    margin-left: 120px;
}

#demo{
    color: white;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check:checked {
accent-color:   cyan;
}
